# Ignore all files by default
*

# Allow specific files and directories
!config/*
!docker/*.sh
!src/clinictracker/**/*.py
!tests/*.py
!tests/*.html
!pyproject.toml
!README.md
!requirements.txt
!.pgpass
